.container{
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 2%;
}

.container input{
    border-radius: 5px;
}

.container button {
    border-radius: 5px;
    font-family: "Comic Sans MS", cursive;
    padding: 0 5 0 5px;
    border: 0px;
    
}

.container button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}